.likeButtonContainer {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.likesCount {
  font-weight: var(--font-weight-semibold);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
}

.button:disabled {
  fill: var(--color-dark);
}

.icon {
  transition: fill 0.3s ease, stroke 0.3s ease;
  fill: var(--color-light-blue);
  width: 60%;
  height: auto;
  width: 25px;
  aspect-ratio: 1;
}

.icon:hover {
  fill: var(--color-light-purple);
  transition-duration: var(--transition-duration);
}

.icon:active {
  fill: var(--color-dark-purple);
}

.active .icon {
  fill: var(--color-yellow);
}

@media(max-width: 767px) {
  .likeButtonContainer {
    gap: 5px;
  }
  .icon {
    width: 20px;
  }
}