*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.15;
  color: var(--color-dark-gray);
  /* position: relative; */
  z-index: 0;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}


