/* .image-compare {
  width: min(100vw, var(--max-width));
  height: calc(100vh - var(--header-height));
  padding: 50px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
  border: 1px solid var(--color-light-purple);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.image-compare-images {
  position: relative;
  border: 1px solid var(--color-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.image-full {
  z-index: 1;
}

.image-outline {
  z-index: 0;
}

.image-compare-slider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  background-color: var(--color-light);
  cursor: ew-resize;
  z-index: 2;
  box-shadow: 0 0 5px var(--color-light-gray);
}

.image-compare-slider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--color-yellow);
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: 0 0 5px var(--color-yellow);
}

.image-compare-other-images {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  scroll-padding-right: 50px;
}

.other-image {
  width: 100%;
  height: auto;
}
 */
