.gallery {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (var(--header-height) * 2));
}

.gallery__title-container {
  max-height: 50%;
  margin-block: auto;
  display: block;
  padding-top: 5%;
}

.gallery__title {
  font-size: clamp(100px, 15vw, 200px);
  color: var(--color-dark);
  position: relative;
  z-index: 1;
  text-wrap: wrap;
}

.gallery__title:hover {
  color: var(--color-light-purple);
  transition-duration: var(--transition-duration);
}

.gallery__title::before {
  content: '';
  position: absolute;
  left: -0.3em;
  display: block;
  background-color: var(--color-yellow);
  width: 150px;
  height: 12px;
}

.gallery__title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  color: #212321;
  top: 0.2em;
  left: 0.2em;
  color: transparent;
  -webkit-text-stroke: 2px  var(--color-light);
}

.gallery__slider {
  display: flex;
  column-gap: 20px;
  width: max-content;
  height: 50%;
  animation: scrollHorizontal 200s linear infinite;
}

.gallery__slider:hover {
  animation-play-state: paused;
}

.gallery__slider-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, calc(50% - 10px));
  gap: 20px;
  max-width: 1300px;
  margin-inline: auto;
  white-space: nowrap;
}

.gallery__slider-block.block-1 {
  grid-template-areas: 
    "area1 area2 area3 area4 area4"
    "area1 area5 area6 area6 area7";
}

.gallery__slider-block.block-2 {
  grid-template-areas: 
    "area1 area2 area2 area3 area4"
    "area1 area5 area6 area6 area7";
}

.gallery__slider-block.block-3 {
  grid-template-areas: 
    "area1 area2 area3 area4 area7"
    "area1 area5 area5 area6 area7";
}

/* Анимация */
@keyframes scrollHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

[grid-area="1"] {
  grid-area: area1;
}
[grid-area="2"] {
  grid-area: area2;
}
[grid-area="3"] {
  grid-area: area3;
}
[grid-area="4"] {
  grid-area: area4;
}
[grid-area="5"] {
  grid-area: area5;
}
[grid-area="6"] {
  grid-area: area6;
}
[grid-area="7"] {
  grid-area: area7;
}
[grid-area="8"] {
  grid-area: area8;
}

.gallery-image,
.gallery_block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image:hover {
  transform: scale(1.2);
  border-radius: var(--border-radius-m);
  transition-duration: var(--transition-duration);
}

.gallery_block {
  border-radius: var(--border-radius-m);
  animation-duration: 10s;
  animation-delay: -2s;
}

.alternate {
  animation-direction: alternate;
}

.alternate-reverse {
  animation-direction: alternate-reverse;
}

.to-X {
  animation-name: to-X;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.to-Y {
  animation-name: to-Y;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.to-YX {
  animation-name: to-YX;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes to-X {
  from {
    width: 30%;
  }
  to {
    width: 100%;
  }
}

@keyframes to-Y {
  from {
    height: 30%;
  }
  to {
    height: 100%;
  }
}

@keyframes to-YX {
  from {
    height: 30%;
    width: 30%;
  }
  40% {
    height: 100%;
    width: 30%;
  }
  to {
    height: 100%;
    width: 100%;
  }
}