:root {
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  
  --font-size-body: var(--font-size-base);
  --font-size-header-menu: var(--font-size-sm);
  --font-size-button: var(--font-size-sm);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* f5f5f5 */
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-light-gray: #f0eeee;
  --color-gray: #c1c1c1;
  --color-dark-gray: #5b5c5b;
  --color-light-blue: #b9e1f3;
  --color-dark-blue: #709cb9;
  --color-light-purple: #ffabfb;
  --color-dark-purple: #d993e0;
  --color-yellow: #ffd150;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --box-shadow-downward: 0 10px 25px rgba(0, 0, 0, 0.1);

  --blur: blur(10px);

  --padding-inline: 30px;

  --border-radius-xs: 5px;
  --border-radius-m: 10px;

  --header-height: 80px;
  --footer-height: 60px;
  
  --max-width: 1300px;

  --transition-duration: 0.2s;

  --transform-increase-size: scale(1.1);
  --transform-decrease-size: scale(0.9);
}

@media(max-width: 479px) {
  :root {
    --font-size-header-menu: var(--font-size-xs);
    --font-size-button: var(--font-size-xs);
    --header-height: 60px;
  }
}

@media(max-width: 359px) {
  :root {
    --font-size-button: var(--font-size-xxs);
  }
}