.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 10;
  width: 100px;
  aspect-ratio: 1;
}

.spinner {
  width: 50%;
  aspect-ratio: 1;
  border: 7px solid var(--color-light);
  border-top: 7px solid var(--color-light-blue);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: var(--box-shadow);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
