

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--color-light-blue);
  width: 40px;
  height: 40px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.closeButton:hover {
  color: var(--color-dark-blue);
}

.closeButton:active {
  transform: scale(0.90);
}

.modalContent {
  display: flex;
  flex: 1;
  height: 100%;
}

.media {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #f5f5f5; /* фон на случай если изображение меньше */
  position: relative;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* .modalInfo {
  height: 7%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: var(--color-light);
  border-top: 1px solid #eee;
} */

.menu {
  min-width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-top: 70px;
  background: #f9f9f9;
  border-left: 1px solid #eee;
}

.modalButton {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.buttonActive {
  color: var(--color-yellow);
}

.loadingSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 10;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* .modalImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
} */

.zoomButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}