.skeleton {
  border-radius: var(--border-radius-xs);
}

.image {
  width: 100%;
  background: linear-gradient(90deg, #f7f4f4 25%, #e2e0e0 50%, #f7f4f4 75%);
  background-size: 200% 100%;
  animation: loading 3s infinite;
}

.text {
  height: 100%;
  background: var(--color-light);
  opacity: 0.7;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}