.wrapper {
  inset: 0;
  z-index: 9999;
}

.modal {
  width: 85vw;
  height: 85vh;
  max-width: 100%;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: transparent;
}

.closeButton::before {
  content: "×";
  color: var(--color-light-blue);
  font-size: 32px;
  line-height: 1;
  display: block;
  transition: all var(--transition-duration) ease;
}

.closeButton:hover::before {
  color: var(--color-dark-blue);
  transform: var(--transform-increase-size);
}

.closeButton:active::before {
  transform: var(--transform-decrease-size);
}

.modalContent {
  display: flex;
  flex: 1;
  height: 100%;
}

.media {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--color-light-gray);
  position: relative;
}

.zoomButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background-color: rgb(from var(--color-light) r g b / 0.8);
  border-radius: var(--border-radius-m);
}

/* -----------боковая панель----------- */
.menu {
  width: min(26vw, 300px);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  padding: 70px 40px 40px;
  background: #f9f9f9;
  z-index: 1;
  max-height: 100%;
  overflow: hidden; 
}

.menuButtonsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* -----------прокрутка кнопок с variants----------- */
.menuButtonsContainer::-webkit-scrollbar {
  width: 6px;
}

.menuButtonsContainer::-webkit-scrollbar-track {
  background: var(--color-light-gray);
  border-radius: 3px;
}

.menuButtonsContainer::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: var(--border-radius-xs);
}

.menuButtonsContainer::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* -----------кнопки с вариантами + спиннер + кнопка лайка----------- */

.menuButton {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  white-space: wrap;
}

menuButton:hover {
  transform: scale(var(--transform-increase-size));
}

menuButton:active {
  transform: scale(var(--transform-increase-size));
}

.menuButtonImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}

.menuButtonActive {
  opacity: 0.5;
}

.modalSpinner::before {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  mask-image: radial-gradient(
    circle at center,
    black 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.0) 70%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.0) 70%,
    transparent 100%
  );
  z-index: -1;
}

.likeButton {
  align-self: end;
}

/* -----------кнопки навигации----------- */

.sideNavButton {
  position: fixed;
  top: 49%;
  width: 40px;
  aspect-ratio: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition-duration) ease;
}

.left {
  left: 1.5vw;
}

.right {
  right: 1.5vw;
  transform: scale(-1, 1);
}

.sideNavButton:hover svg {
  transform: var(--transform-increase-size);
}

.sideNavButton:active svg {
  transform: var(--transform-decrease-size);
}

/* -----------адаптивный макет----------- */

@media (max-width: 1024px) {
  .menu {
    padding-inline: 30px;
  }
}

@media (max-width: 767px) {
  .menu {
    padding: 70px 20px 20px;
  }
}

@media (max-width: 623px) {
  .modal {
    width: 95vw;
    height: 85vh;
  }

  .modalContent {
    flex-direction: column;
    position: relative;
  }

  .closeButton {
    background-color: rgb(from var(--color-light) r g b / 0.8);
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .media {
    width: 100%;
    height: auto;
  }

  .zoomButtons {
    left: 10px;
    right: auto;
    top: 10px;
    row-gap: 10px;
  }

  .menu {
    width: 100%;
    padding: 12px 20px 15px 20px;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  .menuButtonsContainer {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray) var(--color-light-gray);
    display: flex;
    justify-content: center;
  }

  .menuButtonsContainer::-webkit-scrollbar {
    height: 6px;
  }

  .menuButtonsContainer::-webkit-scrollbar-track {
    background: var(--color-light-gray);
    border-radius: 3px;
  }

  .menuButtonsContainer::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: 3px;
  }

  .menuButtons {
    display: inline-flex;
    flex-direction: row;
    gap: 35px;
  }

  .menuButton {
    flex: 0 0 auto;
    width: 100px;
    font-size: var(--font-size-xs);
    padding: 0;
    padding-bottom: 8px;
    justify-content: start;
  }

  .menuButtonImg {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--border-radius-xs);
  }

  .likeButton {
    font-size: var(--font-size-sm);
  }
  
  .sideNavButton {
    top: 94%;
    width: 35px;
  }

  .left {
    left: 30vw;
  }

  .right {
    right: 30vw;
  }

  .sideNavButton svg {
    width: 35px;
    height: 35px;
  }
}
