.modal {
  width: 90vw;
  height: 85vh;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--color-light-blue);
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  line-height: 1;
}

.closeButton:hover {
  color: var(--color-dark-blue);
  transform: var(--transform-increase-size);
}

.closeButton:active {
  transform: var(--transform-decrease-size);
}

.modalContent {
  display: flex;
  flex: 1;
  height: 100%;
}

.media {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--color-light-gray);
  position: relative;
}

.zoomButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 40px;
  padding-top: 70px;
  background: #f9f9f9;
  z-index: 1;
  max-height: 100%;
  overflow: hidden; 
}

.menuButtonsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90%;
  padding-right: 8px;
}

.menuButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuButtonsContainer::-webkit-scrollbar {
  width: 6px;
}

.menuButtonsContainer::-webkit-scrollbar-track {
  background: var(--color-light-gray);
  border-radius: 3px;
}

.menuButtonsContainer::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: var(--border-radius-xs);
}

.menuButtonsContainer::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.menuButton {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

menuButton:hover {
  transform: scale(var(--transform-increase-size));
}

menuButton:active {
  transform: scale(var(--transform-increase-size));
}

.menuButtonImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}

.menuButtonActive {
  opacity: 0.5;
}

.modalSpinner::before {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  mask-image: radial-gradient(
    circle at center,
    black 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.0) 70%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.0) 70%,
    transparent 100%
  );
  z-index: -1;
}

.likeButton {
  align-self: end;
}