.magnifierContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: crosshair;
}

.magnifier {
  position: fixed;
  border: 2px solid var(--color-light);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
  pointer-events: none;
  z-index: 900;
  background-repeat: no-repeat;
}