.zoomButton {
  border-radius: var(--border-radius-m);
  padding: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: var(--color-dark-gray);
  transition-duration: var(--transition-duration);
}

.zoomButton:hover {
  transform: var(--transform-increase-size);
  box-shadow: var(--box-shadow-downward);
}

.zoomButton:active .icon {
  transform: var(--transform-decrease-size);
}

.zoomLevel {
  font-size: var(--font-size-sm);
}

@media (max-width: 623px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 479px) {
  .zoomButton {
    padding: 6px;
    min-width: 20px;
  }
}