.sortingContainer {
  display: flex;
  justify-content: end;
  padding-inline: 20px;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 767px) {
  .sortingContainer {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .categoryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 639px) {
  .categoryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .sortingContainer {
    padding-inline: 0;
    column-gap: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 359px) {
  .categoryContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}