.sortingContainer {
  display: flex;
  justify-content: end;
  padding-inline: 20px;
  padding-bottom: 10px;
  column-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .categoryContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .categoryContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}