.button {
  height: 30px;
  width: 100px;
}

.imageCard {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  line-height: 1;
  padding: 20px;
  transform-origin: center;
  position: relative;
}

.image {
  width: 100%;
  aspect-ratio: 3 / 4;
}

.info {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 60px;
}

.likes {
  width: 45px;
}
